<app-appnav></app-appnav>
<div class="container">
  <br /><br />
  <div class="row">
    <div class="col">
      <h3 style="text-align:center">Orders</h3>
      <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
          <p class="card-text d-flex justify-content-around">
            <i class="fas fa-5x fa-box"></i>
            <span class="statsNum">{{ orders.length }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <h3 style="text-align:center">Total Earnings</h3>
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <p class="card-text d-flex justify-content-around">
            <i class="fas fa-5x fa-money-bill-alt"></i>
            <span class="statsNum">{{ totalEarnings(orders) | currency }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <h3 style="text-align:center">Total Items</h3>
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <p class="card-text d-flex justify-content-around">
            <i class="fas fa-5x fa-sticky-note"></i>
            <span class="statsNum">{{ totalItems(orders) }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2" *ngFor="let order of orders">
    <div class="card-body p-0 pl-3">
      <div class="row">
        <div class="col d-flex flex-column justify-content-center">
          <h5 class="card-title">Informations</h5>
          <p class="card-text">
            Name: {{ order.firstName }} {{ order.lastName }}<br />
            Email: {{ order.email }} <br />
            Address: {{ order.addressOne }}<br />
            Address 2: {{ order.addressTwo }} <br />
            Phone: {{ order.number }} <br />
            {{ order.country }}, {{ order.state }}, {{ order.zip }}<br />
          </p>
        </div>
        <div class="col">
          <button class="btn" (click)="delete(order._id)" style="float: right;"  ><i class="far fa-times-circle"></i></button>
          <h5 class="card-title">Order Items</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of order.items">
              <div class="flex-grow-5">
           
            
                <img
                class="card-img-top"
                alt="Thumbnail [100%x225]"
                style=" width: 70px; height: auto; display: block; "
                [src]="imagesURL + item.image"
                data-holder-rendered="true"
            />
           
            </div>
               <h6 class="my-0">{{item.name}}</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-right">
      <b> Total: {{ orderTotal(order.items) | currency }}
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="message(order._id)" style="float: left;">Confirm Order</button
        >
     
      </b>
    </div>
  </div>
  <div id="snackbar"></div>
</div>
