<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Shop </a>
  <button class="navbar-toggler" (click)="toggleNavbar()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse show" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/products">Products </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" routerLink="/orders">Orders </a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" routerLink="/addProduct">Add Product </a>
      </li>
    
    </ul>
    <ul style="list-style: none;">
      <li class="nav-item" style="padding: 0 20px; font-size: 1.4em; ">
        <a class="nav-link p-2"  routerLink="/cart" style="color:#fff">
          <i class="fas fa-shopping-cart"></i> <span class="badge badge-light" style="margin-left: 8px" *ngIf="cart.length">{{cart.length}}</span>
        </a>
      </li>
    </ul>
    
    
  </div>
</nav>